<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

<form >

        Name <input [(ngModel)]="usr.name" name ="name"type="text" ><br>
        Lastname<input [(ngModel)]="usr.lastname" name="lastname" type="text" ><br>
        Email<input [(ngModel)]="usr.email" name="email"  type="text" ><br>
        Phone<input [(ngModel)]="usr.phone" name="phone"  type="text" ><br>
        Username <input [(ngModel)]="usr.username" name="username"  type="text" ><br>
        Password<input [(ngModel)]="usr.password" name="password"  type="text" ><br>
  <button (click)="addUser()">Add </button>

</form>
</div>

